# Use root/example as user/password credentials
version: '3.1'

services:
  redis:
    image: redis:6.2.6
    restart: always
    networks: 
      - mongo-compose-network
    ports:
      - "6379:6379"
  mongo:
    image: mongo:4.2.23-rc0
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: admin
    networks: 
      - mongo-compose-network
    ports:
      - 27017:27017
    volumes:
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
      - ./data:/data/db


  mongo-express:
    image: mongo-express:0.54.0
    restart: always
    networks: 
      - mongo-compose-network
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo-db:27017/
    depends_on:
      - mongo

networks:
  mongo-compose-network:
    driver: bridge
